.fondoUno{
    background-color: aqua;
}
.matematicas{
    background-color: aquamarine;
}
.carrera{
    background-color: violet;
}
.libre{
    background-color: red;
}
.circuitos{
    background-color: orange;
}